<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>전경기 라이브스코어</title>
    <link rel="stylesheet" href="live_soccer.css">
</head>

<body>
    <div id="soccerApp">
        <table>
            <colgroup>
                <col width="27">
                <col width="77">
                <col width="69">
                <col width="">
                <col width="50">
                <col width="">
                <col width="37">
                <col width="170">
                <col width="23">
            </colgroup>
            <tbody>
                <tr>
                    <th></th>
                    <th>리그명</th>
                    <th>시간</th>
                    <th>홈팀</th>
                    <th>스코어</th>
                    <th>원정팀</th>
                    <th>전반</th>
                    <th>데이터</th>
                    <th>UP</th>
                </tr>
            </tbody>
        </table>
        <table id="s_up_table">
            <colgroup>
                <col width="27">
                <col width="77">
                <col width="69">
                <col width="">
                <col width="50">
                <col width="">
                <col width="37">
                <col width="170">
                <col width="23">
            </colgroup>
            <tr>
                <th colspan="9">관심경기</th>
            </tr>
            <tr is="my-list" v-for="selectgame in selectGames" :key="selectgame.id"
                :tournament_name_ko="selectgame.tournament_name_ko" :starttime="selectgame.starttime"
                :team1="selectgame.team1" :team2="selectgame.team2" v-on:down-fnc="downFncView">
            </tr>
        </table>
        <table v-for="(livegame,key) in liveGames">
            <colgroup>
                <col width="27">
                <col width="77">
                <col width="69">
                <col width="">
                <col width="50">
                <col width="">
                <col width="37">
                <col width="170">
                <col width="23">
            </colgroup>
            <tr>
                <th colspan="9">{{key}}</th>
            </tr>
            <tr is="my-list" v-for="livegameValue in livegame" :key="livegameValue.id"
                :tournament_name_ko="livegameValue.tournament_name_ko" :starttime="livegameValue.starttime"
                :team1="livegameValue.team1" :team2="livegameValue.team2" v-on:up-fnc="upFncView">
            </tr>
        </table>
        <table v-for="(resultgame,key) in resultGames">
            <colgroup>
                <col width="27">
                <col width="77">
                <col width="69">
                <col width="">
                <col width="50">
                <col width="">
                <col width="37">
                <col width="170">
                <col width="23">
            </colgroup>
            <tr>
                <th colspan="9">{{key}}</th>
            </tr>
            <tr is="my-list" v-for="resultgameValue in resultgame" :key="resultgameValue.id"
                :tournament_name_ko="resultgameValue.tournament_name_ko" :starttime="resultgameValue.starttime"
                :team1="resultgameValue.team1" :team2="resultgameValue.team2" v-on:up-fnc="upFncView">
            </tr>
        </table>
    </div>

    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://unpkg.com/vue@2"></script>
    <script src="live_soccer.js"></script>

    <script type="text/x-template" id="list-template">
        <tr>
            <td><input type="checkbox"></td>
            <td>{{tournament_name_ko}}</td>
            <td>{{starttime.substring(0,5)}}</td>
            <td>{{team1.name}}</td>
            <td>-</td>
            <td>{{team2.name}}</td>
            <td></td>
            <td><a href="#"><img src="http://score888.com/image/new/data_pre.png" alt=""></a><a href="#"><img
                        src="http://score888.com/image/btn_widget.png" alt=""></a><a href="#"><img
                        src="http://score888.com/image/new/cheer_btn.png" alt=""></a></td>
            <td><button type="button" @click="upFnc(this)" class="up"></button></td>
        </tr>
    </script>

    <script>
        Vue.component('my-list', {
            data: function () {
                return {
                }
            },
            template: '#list-template',
            props: ['tournament_name_ko', 'starttime', 'team1', 'team2'],
            methods: {
                upFnc: function (e) {
                    this.$emit('up-fnc');
                    this.$emit('down-fnc');
                    // this.trShow = false;
                }
            }
        });

        new Vue({
            data: {
                model: [],
                liveGames: [],
                resultGames: [],
                selectGames: [],
                errored: false
            },
            methods: {
                ajaxCall: function () {
                    axios.get('ajax_get_sportradar.json')
                        .then(function (res) {
                            var model = _.groupBy(res.data, 'status.name'),
                                resultGames = [], liveGames = [];
                            // this.model = _.groupBy(res.data, 'status.name');//this.makeModel(res.data, 'status.name');
                            // this.resultGames = this.model['경기종료'];
                            for (var status in model) {
                                if (status === "경기 종료") {
                                    resultGames = _.concat(resultGames, model[status]);
                                }
                                else {
                                    liveGames = _.concat(liveGames, model[status]);
                                }
                            }

                            this.resultGames = _.groupBy(resultGames, function (b) {
                                return b.match_date.substring(0, 10);
                            });
                            this.liveGames = _.groupBy(liveGames, function (b) {
                                return b.match_date.substring(0, 10);
                            });
                            this.model = this.makeModel(model);

                            console.log(this.model);
                        }.bind(this)).catch(function (e) {
                            this.errored = true;
                        })
                },
                makeModel: function (model) {
                    // model = _.groupBy(model, 'status.name');
                    for (var kind in model) {
                        model[kind] = _.groupBy(model[kind], function (b) { return b.match_date.substring(0, 10) }); // 요일별 뽑기
                    }
                    return model;
                },
                upFncView: function (e) {
                    console.log(e);
                    var tr = $(this).closest('tr');
                    var td = tr.children();

                    this.selectGames.push({
                        'tournament_name_ko': td.eq(1).text(),
                        'starttime': td.eq(2).text(),
                        'team1': { 'name': td.eq(3).text() },
                        'team2': { 'name': td.eq(5).text() }
                    });
                    // 이런식으로 말고 idx를 줘서 그 idx를 찾아서 올리는 방식으로 해야 함.

                },
                downFncView: function () {
                    alert('내리기');
                }
            },
            mounted: function () {
                this.ajaxCall();
            }
        }).$mount("#soccerApp");
    </script>
</body>

</html>